@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    margin: 0;
}

li {
    list-style-type: none;
}

/* Logo & menu */

#menu {
    height: 170px;
    width: 100%;
    background-image: url(../images/Logo-banner.jpg);
    background-repeat: no-repeat;
    float: none;
    font-size: 110%;
    letter-spacing: 2px;
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    margin-top: 90px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #FC7200;
}

#menu a:hover > i {
    color: #FC7200;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* About Us */

#mam-tor {
    height: 750px;
    width: 100%;
    overflow: hidden;
    background-image: url(../images/mam-tor.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#about {
    margin-top: 100px;
    margin-left: 30px;
    color: #fff;    
    text-align: center;

    width: 600px;
    height: 450px;

    padding: 50px 10px;

    background-color: rgba(58, 58, 58, .7);

    position: absolute;
}

/* Favourite Routes */

main {
    text-align: center;
}

section {
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 400%;
    padding: 30px;
}

.parallax {
    width: 100%;

    background-image: url("../images/damflask-2.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 200%;
    color: #fff;
  }

  .buffer {
        width: 100%;
        height: 930px;
        background-image: url(../images/damflask-map.png);
        background-repeat: no-repeat;
        background-color: #fff;
        background-position: center;
        background-size: contain;
        padding: 30px;
  }

  .parallax2 {
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
  
    min-height: 100vh;

    background-image: url(../images/Broomhead-2.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 200%;
    color: #fff;

    gap: 1.6em;
  }

  .buffer2 {
    width: 100%;
    height: 930px;
    background-image: url(../images/broomhead-map.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    background-size: contain;
    padding: 30px;
}

.parallax3 {

    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  
    min-height: 100vh;

    background-image: url(../images/redmires.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 200%;
    color: #fff;

    gap: 1.6em;
  }

  .buffer3 {
    width: 100%;
    height: 930px;
    background-image: url(../images/redmire-map.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    background-size: contain;
    padding: 30px;
}


/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.social-networks a:hover > i {
    color: #FC7200;
}