@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Logo & menu */

#menu {
    height: 170px;
    width: 100%;
    background-image: url(../images/Logo-banner.jpg);
    float: none;
    font-size: 110%;
    letter-spacing: 2px;
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 90px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #FC7200;
}

#menu a:hover > i {
    color: #FC7200;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* About Us */

#mam-tor {
    height: 750px;
    width: 100%;
    overflow: hidden;
    background-image: url(../images/mam-tor.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#about {
    margin-top: 100px;
    margin-left: 30px;
    color: #fff;    
    text-align: center;

    width: 600px;
    height: 450px;

    padding: 50px 10px;

    background-color: rgba(58, 58, 58, .7);

    position: absolute;
}

/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.social-networks a:hover > i {
    color: #FC7200;
}